ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #436b95;
  font-size: 30px;
}

img {
  height: 350px;
  width: 450px;
  object-fit: cover;
}

body {
  background-color: #FAF9F9;
  text-align: center;
  font-family: "Indie Flower";
  background-image: url("clouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

li {
 float: right;
 padding: 30px 30px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #E6E8E6;
  color: #436b95;
}

.emojis {
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.smile {
  width: 200px;
  height: 200px;
  border-radius: 50%; 
}

.plain {
  width: 200px;
  height: 200px;
  border-radius: 50%; 
}

.frown {
  width: 200px;
  height: 200px;
  border-radius: 50%; 
}

h1 {
  font-size: 65px;
  margin: 0px;
  margin-top: 25px; 
  color: whitesmoke;
}

h2 {
  font-size: 35px;
  margin: 0px;
  margin-bottom: 25px;
  font-style: italic;
  color: #FAF9F9
}




p {
  font-size: 20px;
}

.logo {
  width: 150px;
  height: 150px;
  float: left;
  padding-left: 50px;
}

.submitBtn {
  border-radius: 5px;
  font-family: "Indie Flower";
  border-width: 0px;
}
